@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400&display=swap');

.light {
    --bg: rgb(244, 240, 232);
    --button-font: rgb(43, 43, 43);
    --modal-bg: rgb(249, 249, 249);
    --modal-button-bg: rgb(234, 234, 234);
    --modal-button-bg-hover: rgb(219, 219, 219);
    --button-bg: rgb(220, 220, 220);
    --border-thick: rgb(43, 43, 43) 3px solid;
    --border-thin: rgb(43, 43, 43) 1px solid;
    --select-hover: rgb(205, 205, 205);
    --font: rgb(35, 35, 35);
    --font-hover: rgb(70, 70, 70);
    --source-code: rgb(90, 90, 90);
}


.dark {
    --bg: rgb(23, 23, 23);
    --button-font: rgb(220, 220, 220);
    --modal-bg: rgb(39, 39, 39);
    --modal-button-bg: rgb(54, 54, 54);
    --modal-button-bg-hover: rgb(69, 69, 69);
    --button-bg: rgb(43, 43, 43);
    --border-thick: rgb(220, 220, 220) 3px solid;
    --border-thin: rgb(220, 220, 220) 1px solid;
    --select-hover: rgb(53, 53, 53);
    --font: rgb(220, 220, 220);
    --font-hover: rgb(200, 200, 200);
    --source-code: rgb(160, 160, 160);
}

html, body {
    font-family: "Roboto Slab";
    min-height: 100vh;
}
  
body {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: var(--bg);
}

.theme-transition {
    transition: all 0.5s ease;
}

.controls button {
    font-family: "Roboto Slab";
    background-color: var(--button-bg);
    color: var(--button-font);
    border: var(--border-thin);
    font-size: 1rem;
    margin: 0.5rem 0.2rem;
    min-width: 30px;
    border-radius: 3px;
    padding: 3px 5px;
}

.play {
    display: flex;
    flex-direction: column;
}
  
.play img {
    transition: transform 0.1s ease-in-out;
    transform: rotate(-5deg);
    width: 256px;
    height: 256px;
}
  
.play img.on {
    transform: rotate(5deg);
}

#counter {
    margin: 1.2rem 0;
}
  
h2 {
    font-size: 1.5rem;
    color: var(--font);
    font-weight: bold;
    margin: 1rem;
    transition: background-color 0.1s ease;
}

.settings h2 {
    font-size: 2.4rem;
    margin: 0 0 5rem;
}

.container {
    font-family: "Roboto Slab";
    width: 420px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container label {
    font-size: 1.5rem;
    color: var(--button-font);
    transition: background-color 0.1s ease;
}

.container select {
    background-color: var(--button-bg);
    font-size: 1.5rem;
    color: var(--button-font);
    border: var(--border-thick);
    border-radius: 10px;
    padding: 5px 10px;
    transition: background-color 0.1s ease;
    cursor: pointer;
}

.container select:hover {
    background-color: var(--select-hover);
}

.header {
    display: inline-flex;
}

.header img {
    height: 7.4rem;
    margin-left: -1.1rem;
    margin-right: -0.7rem;
    margin-top: 2.2rem;
}

.links {
    display: flex;
    flex-direction: column;
}

a {
    margin: 0.5rem;
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--font);
    font-weight: bold;
    transition: background-color 0.1s ease;
}
  
a:hover {
    color: var(--font-hover);
    text-decoration: underline;
}
  
.p1, .p2 {
    color: var(--font);
    font-weight: bold;
    text-align: center;
}

.p1 {
    margin: 0.5rem;
    font-size: 1.5rem;
}

.p2 {
    font-size: 3rem;
}

.p3 {
    color: var(--font);
    font-size: 1.5rem;
}

.confirm {
    width: 420px;
    background-color: var(--modal-bg);
    border: var(--border-thick);
    color: var(--button-font);
    border-radius: 15px;
    padding: 1.2rem;
}

.confirm::backdrop {
    background-color: hsl(0, 0%, 0%, 0.25);
}

.saved-controls .confirm {
    width: 380px;
    border-radius: 15px;
    padding: 1rem;
}

.confirm p {
    font-size: 1.5rem;
    margin: 10px 6px 20px;
}

.saved-controls .confirm p {
    font-size: 1.5rem;
    margin: 8px auto 10px;
}

.confirm input {
    font-family: "Roboto Slab";
    background-color: var(--modal-button-bg);
    color: var(--font);
    width: 90%;
    font-size: 1.4rem;
    margin: 10px auto;
    border: var(--border-thick);
    border-radius: 12px;
    padding: 0.4rem;
}

::placeholder {
    color: var(--font-hover);
    opacity: 1; /* Firefox */
}

::-ms-input-placeholder {
    color: var(--font-hover); /* Edge 12 -18 */
}

.confirm button {
    font-family: "Roboto Slab";
    background-color: var(--button-bg);
    color: var(--button-font);
    font-size: 1.4rem;
    width: 6rem;
    margin: 10px 6px;
    border: var(--border-thick);
    border-radius: 12px;
    padding: 3px 0;
    transition: background-color 0.5s ease;
    cursor: pointer;
}

.saved-controls .confirm button {
    font-size: 1.4rem;
    width: 45%;
    margin: 6px;
}

.confirm button:hover,
.confirm button:hover,
.modal-options:hover,
.options button:hover {
    background-color: var(--modal-button-bg-hover);
}

.theme, .more {
    width: 420px;
    padding: 0;
    background-color: var(--modal-bg);
    border: var(--border-thick);
    border-radius: 15px;
}

.options {
    display: flex;
    flex-direction: column;
}

.options a {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0.7rem 1.5rem;
    transition: all 0.2s ease;
}

.options a:hover {
    text-decoration: none;
    background-color: var(--modal-button-bg);
}

.options p {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    margin: 0 auto;
}

.options span {
    font-size: 1.1rem;
    font-weight: normal;
    font-style: italic;
    margin: 0.5rem 0;
}

.options button {
    font-family: "Roboto Slab";
    background-color: transparent;
    width: 100%;
    height: 2.5rem;
    color: var(--button-font);
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    transition: all 0.5s ease;
    cursor: pointer;
}

.options svg {
    stroke: var(--button-font);
    margin-right: 0.6rem;
}

.theme::backdrop {
    background-color: var(--bg);
}

.theme input {
    width: 10rem;
    height: 4rem;
}

.themeHeader div {
    display: flex;
    justify-content: space-between;
    text-align: left;
    align-items: center;
    margin: 14px;
}

.themeHeader label {
    font-size: 1.4rem;
    color: var(--button-font);
}

.themeHeader span {
    font-size: 1.1rem;
}

.sample {
    padding: 24px 0 0;
}

.sample p {
    font-size: 1.8rem;
    margin: 0 20px 24px;
}

.sample button {
    font-family: Avro, "Roboto Slab";
    width: 4rem;
    height: 3rem;
    color: var(--button-font);
    background-color: var(--modal-button-bg);
    padding: 6px 16px;
    margin: 0px 8px 22px;
    border: var(--border-thick);
    border-radius: 12px;
    cursor: pointer;
}

.sample svg {
    width: 1.8rem;
}

.modal-options {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-style: italic;
    font-family: Avro, "Roboto Slab";
    font-size: 1.3rem;
    background-color: var(--modal-button-bg);
    color: var(--button-font);
    border-radius: 0;
    border: none;
    padding: 0.8rem 0;
    transition: background-color 0.5s ease;
    cursor: pointer;
}

.modal-options svg {
    fill: var(--button-font);
    height: 1.7rem;
    margin-right: 0.7rem;
}

.alert {
    width: 200px;
    border: none;
    border-radius: 10px;
    margin: -5rem 2.8rem;
    padding: 0.2rem 0;
}

.alert div {
    display: flex;
    align-items: center;
}

.alert p {
    font-size: 1.2rem;
    margin: 0.3rem 0.8rem;
}

.alert button {
    background-color: transparent;
    border: none;
    margin: 0.2rem 0.6rem 0.2rem 0;
    padding: 0;
    cursor: pointer;
}

.alert svg {
    width: 2.2rem;
}

hr {
    height: 2px;
    margin: 0;
    border: none;
    background-color: var(--button-font);
}

.donate-button {
    display: flex;
    background-color: var(--button-bg);
    font-size: 1.6rem;
    width: 400px;
    height: 220px;
    text-align: center;
    align-items: center;
    border: var(--border-thick);
    border-radius: 20px;
    padding: 15px 30px;
}

.donate-button:hover {
    background-color: var(--select-hover);
    color: var(--font);
    text-decoration: none;
}

.donate-button img {
    height: 100%;
}

.saved-display {
    width: 70vw;
    display: grid;
    gap: 1.2rem;
    grid-template-columns: 50% 50%;
    margin: 1rem auto;
}

.theme-card {
    width: 100%;
    padding-top: 0.1rem;
    border-radius: 15px;
}

.theme-card p {
    color: var(--font);
    font-size: 1.4rem;
    padding: 0 10%;
}

.no-themes {
    display: flex;
    width: 440px;
    background-color: var(--button-bg);
    border: var(--border-thick);
    border-radius: 15px;
    padding: 1rem;
    margin: 2rem auto;
}

.no-themes img {
    width: 170px;
    border: var(--border-thick);
    border-radius: 50%;
}

.no-themes p {
    color: var(--button-font);
    font-style: italic;
    font-size: 1.4em;
    margin: auto 0.5rem;
}

.saved-controls {
    display: flex;
    justify-content: space-evenly;
}

.saved-controls button {
    width: 30%;
    border-radius: 15px;
    margin: 0 0 0.8rem;
    padding: 0.2rem 0;
    cursor: pointer;
}

.explore .saved-controls button {
    width: 45%;
}

.saved-controls svg {
    height: 2rem;
}

.saved-controls dialog {
    border-radius: 12px;
    padding: 0.2rem;
}

.saved-controls dialog p {
    font-size: 1.2rem;
    margin: 0.4rem 0.8rem 0.2rem;
}

.saved-controls dialog button {
    width: calc(50% - 1rem);
    font-size: 1rem;
    margin: 0.2rem 0.2rem 0.6rem;
}

#source {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 1rem;
    color: var(--source-code);
    margin: 1.4rem auto;
}

@media only screen and (max-width: 600px) {
    .container {
        width: 80vw;
    }
    .p1, a, h2 {
        font-size: 1.35rem;
    }
    .about {
        width: 90%;
        text-align: center;
        margin: auto;
    }
    .about-content .p1 {
        font-size: 1rem;
    }
    .confirm {
        width: 280px;
        padding: 1rem;
    }
    .saved-controls .confirm {
        width: 290px;
        padding: 0.5rem;
    }
    .confirm p {
        font-size: 1.35rem;
        margin: 8px 4px 16px;
    }
    .saved-controls .confirm p {
        font-size: 1.3rem;
        margin: 4px 6px 6px;
    }
    .saved-controls .confirm button {
        font-size: 1.2rem;
        width: 46%;
        margin: 8px 4px;
    }
    .confirm button {
        font-size: 1.3rem;
        width: 5rem;
        margin: 8px 6px;
        border-radius: 10px;
        padding: 2px 0;
    }
    .confirm input {
        font-size: 1.2rem;
        margin: 6px auto;
        border-radius: 8px;
        padding: 0.3rem;
    }
    .theme, .more {
        width: 300px;
    }
    .options a {
        padding: 0.8rem 1.2rem;
    }
    .options p {
        font-size: 1.4rem;
    }
    .options span {
        font-size: 1rem;
        margin: 0.5rem 0;
    }
    .options button {
        height: 2.3rem;
        font-size: 1.1rem;
    }
    .theme input {
        width: 6rem;
        height: 2.5rem;
    }
    .themeHeader div {
        margin: 12px;
    }
    .themeHeader label {
        font-size: 1.15rem;
    }
    .themeHeader span {
        font-size: 0.95rem;
    }
    .sample {
        padding: 20px 0 0;
    }
    .sample p {
        font-size: 1.45rem;
        margin: 0 16px 20px;
    }
    .sample button {
        font-size: 1.3rem;
        border-radius: 10px;
        padding: 6px 8px;
        margin: 0px 6px 20px;
    }
    .alert {
        width: 170px;
        border-radius: 8px;
        margin: -4.3rem 0.8rem;
        padding: 0.1rem 0;
    }
    .alert p {
        font-size: 1rem;
        margin: 0.2rem 0.6rem;
    }
    .alert button {
        margin: 0.2rem 0.6rem 0.2rem 0;
    }
    .alert svg {
        width: 1.8rem;
    }
    .modal-options {
        font-size: 1.1rem;
        padding: 0.6rem 0;
    }
    .modal-options svg {
        height: 1.5rem;
        margin-right: 0.4rem;
    }
    .donate-button {
        width: 290px;
        height: 150px;
        font-size: 1.2rem;
        border-radius: 15px;
        padding: 10px 20px;
    }
    .saved-display {
        display: inline;
        margin: 0;
    }
    .theme-card {
        width: 86vw;
        margin: 1rem auto;
        padding-top: 0.1rem;
        border-radius: 15px;
    }
    .theme-card p {
        font-size: 1.4rem;
        margin: 0.6rem 0;
    }
    .no-themes {
        width: 80vw;
        border-radius: 15px;
        padding: 1rem;
    }
    .no-themes img {
        width: 28vw;
    }
    .no-themes p {
        font-size: 1.2rem;
        margin: auto 0.5rem;
    }
    .saved-controls button {
        width: 30%;
        margin: 0 0 0.8rem;
        padding: 0.2rem 0;
    }
    .saved-controls svg {
        height: 2rem;
    }
}