@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400&display=swap');

.light {
    --bg: rgb(244, 240, 232);
    --button-font: rgb(43, 43, 43);
    --modal-bg: rgb(249, 249, 249);
    --modal-button-bg: rgb(234, 234, 234);
    --modal-button-bg-hover: rgb(219, 219, 219);
    --button-bg: rgb(220, 220, 220);
    --border-thick: rgb(43, 43, 43) 3px solid;
    --border-thin: rgb(43, 43, 43) 1px solid;
    --select-hover: rgb(205, 205, 205);
    --font: rgb(35, 35, 35);
    --font-hover: rgb(70, 70, 70);
    --source-code: rgb(90, 90, 90);
}


.dark {
    --bg: rgb(23, 23, 23);
    --button-font: rgb(220, 220, 220);
    --modal-bg: rgb(39, 39, 39);
    --modal-button-bg: rgb(54, 54, 54);
    --modal-button-bg-hover: rgb(69, 69, 69);
    --button-bg: rgb(43, 43, 43);
    --border-thick: rgb(220, 220, 220) 3px solid;
    --border-thin: rgb(220, 220, 220) 1px solid;
    --select-hover: rgb(53, 53, 53);
    --font: rgb(220, 220, 220);
    --font-hover: rgb(200, 200, 200);
    --source-code: rgb(160, 160, 160);
}

html, body {
    font-family: "Roboto Slab";
    height: 100%;
}
  
body {
    overflow: hidden;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: var(--bg);
}

.theme-transition {
    transition: all 0.1s ease;
}

.controls button {
    font-family: "Roboto Slab";
    background-color: var(--button-bg);
    color: var(--button-font);
    border: var(--border-thin);
    font-size: 1rem;
    margin: 0.5rem 0.2rem;
    min-width: 30px;
    border-radius: 3px;
    padding: 3px 5px;
}

.play {
    display: flex;
    flex-direction: column;
}
  
.play img {
    transition: transform 0.1s ease-in-out;
    transform: rotate(-5deg);
    width: 256px;
    height: 256px;
}
  
.play img.on {
    transform: rotate(5deg);
}

#counter {
    margin: 1.2rem 0;
}
  
h2 {
    font-size: 1.5rem;
    color: var(--font);
    font-weight: bold;
    margin: 1rem;
    transition: background-color 0.1s ease;
}

.settings h2 {
    font-size: 2.4rem;
    margin: 0 0 5rem;
}

.container {
    font-family: "Roboto Slab";
    width: 420px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container label {
    font-size: 1.5rem;
    color: var(--button-font);
    transition: background-color 0.1s ease;
}

.container select {
    background-color: var(--button-bg);
    font-size: 1.5rem;
    color: var(--button-font);
    border: var(--border-thick);
    border-radius: 10px;
    padding: 5px 10px;
    transition: background-color 0.1s ease;
    cursor: pointer;
}

.container select:hover {
    background-color: var(--select-hover);
}

.header {
    display: inline-flex;
}

.header img {
    height: 7.4rem;
    margin-left: -1.1rem;
    margin-right: -0.7rem;
    margin-top: 2.2rem;
}

.links {
    display: flex;
    flex-direction: column;
}

a {
    margin: 0.5rem;
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--font);
    font-weight: bold;
    transition: background-color 0.1s ease;
}
  
a:hover {
    color: var(--font-hover);
    text-decoration: underline;
}
  
.p1, .p2 {
    color: var(--font);
    font-weight: bold;
    text-align: center;
}

.p1 {
    margin: 0.5rem;
    font-size: 1.5rem;
}

.p2 {
    font-size: 3rem;
}

.p3 {
    color: var(--font);
    font-size: 1.5rem;
}

.confirm {
    width: 420px;
    background-color: var(--modal-bg);
    border: var(--border-thick);
    color: var(--button-font);
    border-radius: 15px;
    padding: 1.2rem;
}

.confirm p {
    font-size: 1.5rem;
    margin: 10px 6px 20px;
}

.confirm button {
    font-family: "Roboto Slab";
    background-color: var(--button-bg);
    color: var(--button-font);
    font-size: 1.4rem;
    width: 6rem;
    margin: 10px 6px;
    border: var(--border-thick);
    border-radius: 12px;
    padding: 3px 0;
    transition: background-color 0.1s ease;
    cursor: pointer;
}

.confirm button:hover {
    background-color: var(--modal-button-bg-hover);
}

.theme {
    width: 420px;
    padding: 0;
    background-color: var(--modal-bg);
    border: var(--border-thick);
    border-radius: 15px;
}

.theme::backdrop {
    background-color: var(--bg);
}

.theme input {
    width: 10rem;
    height: 4rem;
}

.themeHeader div {
    display: flex;
    justify-content: space-between;
    text-align: left;
    align-items: center;
    margin: 14px;
}

.themeHeader label {
    font-size: 1.4rem;
    color: var(--button-font);
}

.themeHeader span {
    font-size: 1.1rem;
}

.sample {
    padding: 24px 0 0;
}

.sample p {
    font-size: 1.8rem;
    margin: 0 20px 24px;
}

.sample button {
    font-family: "Roboto Slab";
    font-size: 1.6rem;
    color: var(--button-font);
    background-color: transparent;
    padding: 6px 16px;
    margin: 0px 8px 22px;
    border: var(--border-thick);
    border-radius: 12px;
    transition: background-color 0.1s ease;
    cursor: pointer;
}

hr {
    height: 2px;
    margin: 0;
    border: none;
    background-color: var(--button-font);
}

.donate-button {
    display: flex;
    background-color: var(--button-bg);
    font-size: 1.6rem;
    width: 400px;
    height: 220px;
    text-align: center;
    align-items: center;
    border: var(--border-thick);
    border-radius: 20px;
    padding: 15px 30px;
}

.donate-button:hover {
    background-color: var(--select-hover);
    color: var(--font);
    text-decoration: none;
}

.donate-button img {
    height: 100%;
}

#source {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 1rem;
    color: var(--source-code);
    margin: 1.4rem auto;
}

@media only screen and (max-width: 600px) {
    .container {
        width: 80vw;
    }
    .p1, a, h2 {
        font-size: 1.35rem;
    }
    .about-container {
        width: 90%;
        text-align: center;
        margin: auto;
    }
    .about .p1 {
        font-size: 1rem;
    }
    .confirm {
        width: 280px;
        padding: 1rem;
    }
    .confirm p {
        font-size: 1.35rem;
        margin: 8px 4px 16px;
    }
    .confirm button {
        font-size: 1.3rem;
        width: 5rem;
        margin: 8px 6px;
        border-radius: 10px;
        padding: 2px 0;
    }
    .theme {
        width: 300px;
    }
    .theme input {
        width: 6rem;
        height: 2.5rem;
    }
    .themeHeader div {
        margin: 12px;
    }
    .themeHeader label {
        font-size: 1.15rem;
    }
    .themeHeader span {
        font-size: 0.95rem;
    }
    .sample {
        padding: 20px 0 0;
    }
    .sample p {
        font-size: 1.45rem;
        margin: 0 16px 20px;
    }
    .sample button {
        font-size: 1.3rem;
        border-radius: 10px;
        padding: 6px 8px;
        margin: 0px 6px 20px;
    }
    .donate-button {
        width: 290px;
        height: 150px;
        font-size: 1.2rem;
        border-radius: 15px;
        padding: 10px 20px;
    }
}
