@font-face {
    font-family: 'Avro';
    src: url(fonts/Arvo-Regular.ttf);
}
  
@font-face {
    font-family: 'AvroItalic';
    src: url(fonts/Arvo-Italic.ttf);
}
  
.controls button {
    font-family: Avro;
    font-size: 1rem;
    margin: 0.5rem 0.2rem;
    min-width: 30px;
    border-radius: 3px;
    padding: 3px 5px;
    border: rgb(43, 43, 43) 1px solid;
    background-color: rgb(220, 220, 220);
    color: rgb(43, 43, 43);
}

.play {
    display: flex;
    flex-direction: column;
}
  
html, body {
    font-family: Avro;
    height: 100%;
}
  
body {
    overflow: hidden;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #f4f0e8;
    color: rgb(43, 43, 43);
    transition: background-color 0.5s ease;
}
  
.play img {
    transition: transform 0.1s ease-in-out;
    transform: rotate(-5deg);
    width: 256px;
    height: 256px;
}
  
.play img.on {
    transform: rotate(5deg);
}

#counter {
    margin: 1.2rem 0;
}
  
h2 {
    font-size: 1.5rem;
    color: rgb(35, 35, 35);
    margin: 1rem;
    font-weight: bold;
    transition: background-color 0.5s ease;
}

.settings h2 {
    font-size: 2.4rem;
    margin: 0 0 5rem;
}

.container {
    width: 420px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.settingName {
    color: rgb(43, 43, 43);
    font-size: 1.5rem;
    transition: background-color 0.5s ease;
}

#modeToggle {
    font-family: Avro;
    font-size: 1.5rem;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: rgb(220, 220, 220);
    border: rgb(43, 43, 43) 3px solid;
    color: rgb(43, 43, 43);
    transition: background-color 0.5s ease;
    cursor: pointer;
}

#modeToggle:hover {
    background-color: rgb(205, 205, 205);
}

.header {
    display: inline-flex;
}

.header img {
    height: 7.4rem;
    margin-left: -1.1rem;
    margin-right: -0.7rem;
    margin-top: 2.2rem;
}

.links {
    display: flex;
    flex-direction: column;
}

a {
    margin: 0.5rem;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(35, 35, 35);
    transition: background-color 0.5s ease;
}
  
a:hover {
    text-decoration: underline;
    color: rgb(70, 70, 70);
}
  
.p1, .p2 {
    color: rgb(35, 35, 35);
    font-weight: bold;
    text-align: center;
}

.p1 {
    margin: 0.5rem;
    font-size: 1.5rem;
}

.p2 {
    font-size: 3rem;
}

.p3 {
    font-size: 1.5rem;
}

#source {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 1rem;
    color: hsl(0, 0%, 40%);
    margin: 1.4rem auto;
}

@media only screen and (max-width: 600px) {
    .container {
        width: 70vw;
    }
}

/* DARK MODESSS */
  
.darkMode {
    background-color: rgb(23, 23, 23);
}
  
.darkMode h2, .darkMode .settingName, .darkMode a, .darkMode .p1, .darkMode .p2, .darkMode .p3 {
    color: rgb(220, 220, 220);
}
  
.darkMode a:hover {
    color: rgb(200, 200, 200);
}
  
.darkMode .controls button {
    border: rgb(220, 220, 220) 1px solid;
    background-color: rgb(43, 43, 43);
    color: rgb(220, 220, 220);
}

.darkMode #modeToggle {
    background-color: rgb(43, 43, 43);
    border: rgb(220, 220, 220) 3px solid;
    color: rgb(220, 220, 220);
}

.darkMode #modeToggle:hover {
    background-color: rgb(53, 53, 53);
}